@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
}
.App {
  height: 100%;
  background-color: #fafafa;
}
.App-dark {
  min-height: 100vh;
  background-color: #202d36;
  color: #ffffff;
}
.main-content-container {
  width: 90%;
  padding: 10px 20px;
  margin: 0 auto;
}
.search-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.countries-container {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 60px;
  column-gap: 40px;
}

/* Responsive */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .search-field {
    width: 100% !important;
  }
  .countries-container {
    grid-template-columns: 1fr 1fr;
  }
  .country-info-panel,
  .country-info-img-wrapper {
    width: 100% !important;
  }
  .country-info-wrapper,
  .country-info-informations {
    display: block !important;
  }
  .left-side {
    margin-bottom: 40px !important;
  }
  .border-countries {
    display: block !important;
  }
  .flex {
    display: flex;
    font-size: 16px;
  }
  .border-countries-name {
    padding: 0 !important;
    min-width: 0 !important;
    max-width: 80px !important;
  }
  .header-container {
    padding: 20px !important;
    font-size: 20px !important;
  }
  .header-container-dark {
    padding: 20px !important;
    font-size: 20px !important;
  }
  .search-field-dark {
    width: 320px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .search-field {
    width: 100% !important;
  }
  .search-filter-container {
    display: block;
  }
  .countries-container {
    grid-template-columns: 1fr;
  }
  .country-info-panel,
  .country-info-img-wrapper {
    width: 100% !important;
  }
  .country-info-wrapper,
  .country-info-informations {
    display: block !important;
  }
  .left-side {
    margin-bottom: 40px !important;
  }
  .border-countries {
    display: block !important;
  }
  .flex {
    display: flex;
    font-size: 16px;
  }
  .border-countries-name {
    padding: 0 !important;
    min-width: 0 !important;
    max-width: 80px !important;
  }
  .header-container {
    padding: 20px !important;
    font-size: 20px !important;
  }
  .header-container-dark {
    padding: 20px !important;
    font-size: 20px !important;
  }
  .search-field-dark {
    width: 320px !important;
  }
}
